@import "tailwindcss";


@theme {
    --background-image-clg-bg: url("/bg2.png");
    --animate-fade-in: fadeIn 0.5s ease-out;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}



@layer base {

    html,
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: auto;
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
    }

    h1 {
        @apply font-sans text-4xl sm:font-bold font-medium ;
    }

    h2 {
        @apply text-2xl font-bold mb-4 sm:text-4xl;
    }
    p {
        @apply sm:text-base text-sm  font-normal mb-4;
    }
}

@layer components {
    .login-button {
        @apply text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2
    }

    .card {
        @apply max-w-4xl mx-auto mt-10 p-6 bg-gray-100 rounded-lg shadow-lg
    }

    .card-details {
        @apply max-w-4xl mx-auto mt-10 p-6 bg-gray-50 rounded-lg shadow transform transition-transform duration-300 hover:scale-105
    }

    .blue-button {
        @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800
    }

    .avatar {

        @apply sm:w-50 sm:h-50 w-40 h-40 p-2 mt-4 sm:mt-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500
    }

    .typewriter {
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        border-right: 0.15em solid #193cb8;
      
        animation: 
          typing 3.5s steps(40, end) forwards,
          blink-caret 0.75s step-end 0s 6,       
          remove-cursor 0.75s ease-in 4.5s forwards; 
      }
      
      /* Typing effect */
      @keyframes typing {
        from { width: 0; }
        to   { width: 100%; }
      }
      
      /* Blinking cursor */
      @keyframes blink-caret {
        0%, 100% { border-color: #193cb8; }
        50% { border-color: transparent; }
      }
      
      /* Cursor disappears smoothly */
      @keyframes remove-cursor {
        from { border-right-color: #193cb8; }
        to   { border-right-color: transparent; }
      }
      
      
      
      
      
      
}    